.register-header{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    box-shadow: 0 0 2px rgb(219, 217, 217);
    border-radius: 3px;
}
.tfSeach-con{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
}
.auth-input{
    border: none;
    background-color: rgb(231, 229, 229);
    width: 98%;
    border: 1px solid grey;
    height: 30px;
    border-radius: 3px;
    margin-top: 5px;
}
.register-con{
    width: 98%;
    margin-top: 10px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(185, 183, 183);
}
.register-head{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* table */
thead{
    border-bottom: 1px solid rgb(235, 225, 225);
    position: sticky;
} 

thead tr th{
    text-align: start;
    background-color: #dddada; 
    color: rgb(66, 64, 64)
}
tbody tr{
    cursor: pointer;
    color: rgb(66, 64, 64);
}
tbody tr, thead tr{
    border-bottom: 1px solid rgb(238, 228, 228);
    transition: all 100ms;
    font-size: 15px;
    z-index: 1;
    height: 50px;
}
.td-icon svg{
    font-size: 22px;
    cursor: pointer;
    transition: all 300ms ease;
}
.td-icon svg:hover{
    transform: scale(1.1);
}
tbody tr:hover{
    background-color: rgb(233, 239, 243);
}
.tr-hovernone:hover{
    background-color: #fff;
}
.td-id{
    width: 30px;
    text-align: end;
    padding-right: 10px;  
}
.td-icon{
    width: 50px;
}
.td-price{
    width: 20%;
}
.td-img{
    display: flex;
    align-items: center;
}
.td-img img{
    width: 60px;
    height: 60px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(150, 149, 149);
}

.box-img-loading{
    width: 60px;
    height: 60px;
    border-radius: 2px;
    animation: box-img 2s infinite;
}
@keyframes box-img{
    0% {
        background-color: gray;
    }
    50%{
        background-color: rgb(58, 57, 57);
    }
    100% {
        background-color: gray;
    }
}
/* form */
.role-target{
    margin-left: 5px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid rgb(68, 107, 158);
    color: rgb(68, 107, 158);
    transition: all ease 300ms;
    cursor: pointer;
}
.role-target-selected{
    background-color: rgb(68, 107, 158);
    color: white;
}
.empt-ymsg{
 color: red;
 margin-left: 5px;   
}
/* filter icon */
.filter-con{
  border: none;
  width: 70px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
  color: rgb(80, 77, 77);
  border-radius: 3px;
  margin-left: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.filter-active{
  color: rgb(8, 196, 17);
}
.filter-con:hover{
  color: rgb(8, 196, 17);
}
.filter-selectinput{
  width: 100%;
  height: 40px;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
  transition: all 0.5s ease;
  border-radius: 4px;
  border: 1px solid rgb(165, 163, 163);
}