.support-con{
    width: 96%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.support-header{
    width: 95%;
}
.support-list{
    width: 95%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.support-item{
    width: 250px;
    height: 140px;
    transition: all .400ms;
}
.support-btn-add{
    width: 250px;
    height: 140px;
    border: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: grey;
    border-radius: 5px;
    font-weight: lighter;
    cursor: pointer;
    transition: all .200ms;
}
.support-btn-add:hover{
    background-color: #f5f1f1;
}

.support-form-inputs{
    height: 90%;
    padding-right: 10px;
    overflow-y: scroll;
}
.supp-item-text-con{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.supp-item-text-con p{
    color: rgb(102, 99, 99);
}
.supp-item-text-description p{
    color: rgb(13, 64, 141);
    font-weight: bold;
}
.supp-item-foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jose{
    background-color: rgb(58, 129, 235);
}
.supp-icon-con{
    padding: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon-conf{
    background-color: rgb(58, 129, 235);
    margin-right: 10px;
}
.icon-dev{
    background-color: grey;
}


.support-detail-con{
    height: 96%;
    width: 95%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 60px;
}
.supp-tables-con{
    display: flex;
    justify-content: space-between;
}
.support-types-con{
    width: 48%;
    margin-top: 10px;
}
.support-products-con{
    width: 48%;
    background-color:  rgb(243, 241, 241);
    padding: 10px;
    border-radius: 5px;
}

/* Modal search */
.search-con{
    width: 370px; 
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.pay-list-con{
    width: 100%;
    height: 67%;
    overflow-y: scroll;
    border-top: 1px solid rgb(201, 196, 196);
    margin-top: 30px;
}
.pay-search-target{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(201, 196, 196);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pay-search-target:hover{
    background-color: rgb(214, 218, 221);
    
}